/* defines the font family for the whole page */ 

* {
   font-family: 'Raleway', sans-serif;
}

/* defines all necessary icons */

.location-icon {
   display: flex;
   align-items: center;

   background-color: rgba(242,242,242,1);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

.fa-location-dot {
   display: flex;
   align-items: center;

   margin: 2.5px;
}

.fa-solid {
   font-size: 22px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog {
   color: rgba(0, 101, 252, 1);
   font-size: 15px;
}

.fa-info {
   font-size: 12px;
}

.fa-star {
   font-size: 15px;
}

.stars {
   display: flex;
}

.blue-star {
   color: rgba(0, 101, 252);
}

.grey-star {
   color: rgba(242,242,242,1);
}

.fa-chart-line {
   color: rgba(0,101,252);
   text-align: right;

   font-size: 24px;
}

/* defines the layout of the main sections */

body {
   margin: 0rem 1.5rem 0rem 1.5rem;

   max-width: 1400px;  
   margin: auto;
}

main {
   display: flex;
   flex-direction: column;

   gap: 2rem;
   margin: 2rem 2rem 3rem 2rem;   
}

.accomodation-and-pop-sections {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
   gap: 2rem;
}

h2 {
   font-size: 15px;
   margin: 0.25rem 0rem 0rem 0rem;
}

.figcaption-accomodation-card .price, .figcaption-pop-card .price {
   margin: 0.25rem 0rem;
   font-size: 13px;
}

/* defines the header */

.header-section {
   display: flex;
   justify-content: space-between;

   padding: 0rem 2rem 0rem 2rem;
}

.logo {
   padding-top: 2.5rem;
}

.logo-img {
   width: 4.75rem;
   height: 1.5rem;
}
   
.nav {
   display: flex;
   gap: 3.5rem;
   padding-right: 3px;
}

.accomodations, .activities {
   border-top: 3px solid white;

   padding-top: 2.5rem;

   font-weight: 300;
}

.accomodations:hover, .activities:hover {
   color: rgba(0,101,252,1);

   border: 3px; 
   border-top-style: solid;
}

.accomodations a:hover, .activities a:hover {
   color: rgba(0,101,252,1);
}

.accomodations a, .activities a {
   text-decoration: none;
   color: black;
}

/* defines section 1 (find accomodation) */

.inside-section-1 {
   display: flex;
   flex-direction: column;
   
   gap: 1rem;
}

.title-section-1 h1 {
   font-size: x-large;
   margin-bottom: 0.5rem;
}

.title-section-1 a {
   font-weight: 100;
   font-size: 16px;
}

.accomodation-search {
   display: flex;
   width: 22.5rem;
}

.location-icon {
   display: flex;
   justify-content: center;
   width: 11%;
   background-color: rgba(242,242,242,1);
   border: none;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   
   padding: 0.5rem 0.25rem;
}

.search-bar {
   width: 56%;
}

input:focus {
   outline: none;   
   font-size: 22px;
   padding-left: 0.75rem;
}

input:focus::placeholder {
  color: transparent;
}

input {
   height: 3rem;
   width: 100%;
   border-color: rgba(242,242,242,1);
   border-width: 1px;
   border-style: solid;
}

input::placeholder {
   font-weight: 600;
   font-size: 16px;
   opacity: 1;
}

.search-button {
   width: 33%;
}

.search-button-1 {
   align-items: center;
   background-color: rgba(0,101,252,1);

   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;

   color: white;
   text-decoration: none;
   font-weight: 600;
   font-size: 16px;
   padding: 1rem; 
}

.search-button-2 {
   display: none;
}

.search-button-1 a {
   text-decoration: none;
   color: white;
   align-items: center;
}

.filters {
   display: flex;
   flex-direction: row;
   align-items: center;

   gap: 2rem;
   margin-top: 1rem;
}

.filter-title {
   font-weight: 600;
   font-size: large;
}

.filter-buttons {
   display: flex;
   flex-wrap: wrap;
   
   gap: 2rem; 
}

.costsaving, .family, .romantic, .pet-friendly {
   display: flex;
   align-items: center;
   justify-self: center;

   background-color: white;

   border-radius: 25px;
   border-width: 2px;
   border-color: rgba(217,217,217,1);
   border-style: solid;

   background-color: white;

   gap: 10px;

   padding: 0.5rem 0rem 0.5rem 0.75rem;
}

.costsaving a, .family a, .romantic a, .pet-friendly a{
   font-weight: 600;
   font-size: 15px;
   text-decoration: none;
   color: black;

   padding-right: 1rem;
}

.costsaving:hover, .family:hover, .romantic:hover, .pet-friendly:hover {
   background-color: rgba(0,101,252,0.2);
}

.availability-estimation {
   font-size: small;
   display: flex;
   align-items: center;

   margin: 1.5rem 0rem 1rem 0rem;

   gap: 1px;
}

.info-font {
   color: rgba(0, 101, 252, 1);
   border: 1px rgba(217, 217, 217, 1) solid;
   border-radius: 15px;
   padding: 6px 10px 6px 10px;
   margin: 1px;

   position: absolute;

   display: flex;
   align-items: center;
}

.info-text {
   display: flex;
   align-items: center;

   font-weight: 300;
   font-size: medium;
   margin-left: 2.5rem;

   position: absolute;
}

/* defines the layout of section 2*/

.accomodation-section {
   width: 70%;
}

.inside-section-2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-radius: 20px;

   background-color: rgba(242,242,242,1);

   padding: 1rem 2rem;
}

.accomodation-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   gap: 1.75rem;
}

.accomodation-card {
   width: 29%;
}

.accomodation-card-image {
   width: 100%;
   height: 8rem; 

   border-top-left-radius: 20px; 
   border-top-right-radius: 20px;

   object-fit: cover;
}                

.accomodation-figure {
   background-color: white;

   border-radius: 20px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
   padding: 5px;

   margin: 0rem;
}

.accomodation-card article a  {
   text-decoration: none;
}

.figcaption-accomodation-card {
   padding-left: 0.5rem;

   overflow: scroll;
   text-overflow: ellipsis;

   text-decoration: none;
}

.figcaption-accomodation-card .name, .figcaption-accomodation-card .price {
   color: black;
   white-space: nowrap;
   font-size: 15px;
}

.figcaption-accomodation-card .name:hover, .figcaption-accomodation-card .price:hover {
   color: rgba(0, 101, 252, 1);
   text-decoration: none;
}

.show-more {
   padding: 3rem 0 2rem 0rem;
   font-weight: 600;
   font-size: larger;
   text-decoration: none;
}

.show-more a {
   text-decoration: none;
   color: black;
}

.show-more a:hover {
   color: rgba(0,101,252,1);
}

/* defines the layout of section 3*/

.popular-section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-radius: 20px;

   background-color: rgba(242,242,242,1);

   width: 30%;

   padding: 1rem 2rem;
}

.header-section-3 {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.pop-cards {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   gap: 1rem;
}

.pop-figure {
   display: flex;

   width: 97%;

   margin: 1rem 0rem;

   background-color: white;
   
   border-radius: 20px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.1); 
   padding: 5px;

   margin-top: 0rem;
}

.pop-card-image {
   width: 9rem;
   height: 9rem; 

   border-top-left-radius: 20px; 

   border-bottom-left-radius: 20px;

   object-fit: cover;
}

.pop-card article a , .pop-card a:hover, .pop-card a:visited, .pop-card a:link, .pop-card a:active {
   text-decoration: none;
   color: black;
}

.figcaption-pop-card {
   display: flex;
   flex-direction: column; 
   justify-content: space-between;  
   
   padding: 0.5rem 2rem 0rem 1rem;

   font-size: 15px; 
}

.pop-card figcaption {
   display: flex;
}

.pop-text {
   display: flex;
   flex-direction: column;   
}

.figcaption-pop-card .name:hover, .figcaption-pop-card .price:hover {
   color: rgba(0,101,252,1);
}

.name {
   font-weight: 700;
}

.price {
   font-weight: 300;
   font-size: 14px;
}

/* defines the layout of section 4 */

.inside-section-4 {
   display: flex;
   flex-direction: column;  
}

.activity-cards {
   display: flex;
   justify-content: space-between;

   gap: 2rem;
}

.activity-card {
   width: 25%;
}

.activity-card-image {
   object-fit: cover;
   width: 100%;
   height: 25rem;
   border-radius: 20px 20px 0 0;
}

.activity-figure {
   background-color: white;
   border-radius: 20px;  
   box-shadow: 0px 3px 15px rgba(0,0,0,0.1);

   margin: 0rem;
}

.activity-figure figcaption {
   display: flex;
   flex-wrap: wrap;
   
   padding: 1rem 0 0 1rem;
   height: 3rem;

   overflow: hidden;
   text-overflow: ellipsis;
}

.activity-card a {
   text-decoration: none;
   color: black;
}

.activity-card a:hover {
   color: rgba(0,101,252,1);
}

/* defines footer */

footer {
   list-style-type: none;

   display: flex; 
   justify-content: space-between; /* still have to find a way to wrap footer menu when 
                                    window is too small */

   background-color: rgba(242,242,242,1);

   gap: 2rem;
   padding: 2rem;
   margin: 0rem 2rem;
}

.about, .offer, .help {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   width: 100%;  
}

footer a {
   text-decoration: none;
   color: black;
   font-weight: 300;
}

footer a:hover {
   color:rgba(0,101,252,1)
}

/* media queries for tablets */

@media screen and (min-width: 768px) and (max-width: 991px) {
   body {
      margin: 0rem 1.5rem;
   }

   h2 {
      font-size: 14px;
   }

   .figcaption-accomodation-card .price, .figcaption-pop-card .price {
      font-size: 12px;
   }

   .accomodations, .activities {
      font-weight: 300;
   }

   .accomodations a:hover, .activities a:hover {
      color: rgba(0,101,252,1);
   } 

   .fa-location-dot {
      font-size: medium;
   }

   .search-button-1 a {
      align-items: center;
   }

   .filters {
      display: flex;
      flex-wrap: wrap;

      gap: 1rem;
   }

   .filter-buttons {
      gap: 1rem;
   }

   .availability-estimation a {
      font-size: 14px;
   }

   .accomodation-and-pop-sections {
      display: flex;
      flex-wrap: wrap;
   }

   .accomodation-section {
      width: 100%;
   }

   .accomodation-cards {
      gap: 1.75rem;
   }

   .accomodation-card {
      width: 30%;
   }
   
   .accomodation-card-image {
      height: 7rem;
      width: 100%;
   }

   .popular-section {
      width: 100%;
   }

   .pop-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
   }

   .pop-card {
      display: flex;
      flex-direction: row;

      width: 31%;
      height: 100%;
   }

   .pop-card article {
      width: 100%;
   }

   .pop-card-image {
      width: 6.5rem;
      height: 8.5rem;
   }

   .pop-card figcaption {
      overflow: scroll;
   }

   .figcaption-pop-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 0rem 0rem 0rem 0.5rem;
   }

   .pop-text .name {
      font-size: 14px;
   }

   .pop-text .price {
      font-size: 12px;
   }

   .activity-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 1.5rem;
   } 
   
   .activity-card {
      width: 25%;
   }

   .activity-card-image {
      width: 100%;
      height: 12rem;
   }

   footer {
      margin: 0rem 2rem;
   }
}
 
/* media queries for phones */

@media screen and (max-width: 767px) {
   body {
      margin: 0rem; 
      padding: 0rem;
   }

   main {
      margin: 0rem;
   }

   h2 {
      font-size: 17px;
   }

   .figcaption-accomodation-card .price, .figcaption-pop-card .price {
      font-size: 15px;
   }
   
   .header-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: 1rem;

      padding: 0rem;
   }

   .logo {
      display: flex;
      justify-content: center;
   }

   .logo-img {
      width: 5.5rem;
      height: 1.75rem;
   }

   .nav {
      gap: 0rem;
   }

   .accomodations, .activities {
      display: flex;
      justify-content: center;
      
      width: 100%;
      padding: 2rem 0 1rem 0;

      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-color: rgba(242,242,242,1);

      border-top: none;

      font-size: larger;
   }

   .accomodations:hover, .activities:hover {
      border-top: none ;

      color: rgba(0,101,252,1);

      border-bottom-style: solid;   
      border-bottom-width: 3px;
   }

   .accomodations a:hover, .activities a:hover{
      color: rgba(0,101,252,1);
   }

   .search-section {
      padding: 1rem 1rem 0rem 1rem;
   }

   .title-section-1 {
      font-size: larger;
      padding: 1rem 0rem;
   }

   .accomodation-search {
      display: flex;
      width: 100%;
   }

   .location-icon {
      display: flex;
      width: 11%;
   }

   .fa-location-dot {
      display: flex;
      align-items: center;
   }

   .search-bar {
      display: flex;
      width: 74%;
   } 

   input {
      height: 3.5rem;
   }

   input::placeholder {
      font-size: x-large;
   }

   .search-button{
      width: 15%;
   }

   .search-button-1 {
      display: none;
   }

   .search-button-2 {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;

      color: white;
      background-color: rgba(0,101,252,1);

      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
   }

   .search-button-2 a {
      text-decoration: none;
      color: white;
   }

   .fa-magnifying-glass {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
   }

   .filters { 
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 100%;

      gap: 1rem;
   }

   .filter-buttons {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      width: 100%;

      gap: 1rem;
   }

   .costsaving, .family, .romantic, .pet-friendly {
      width: 42%;
      height: 2rem;

      overflow: hidden;
   }

   .costsaving a, .family a, .romantic a, .pet-friendly a {
      font-size: 13px;
   }

   .fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog {
      font-size: 20px;
   }

   .info-text {
      font-size: 19px;
   }

   .availability-estimation {
      padding: 1.5rem 0rem ;
   }

   .accomodation-and-pop-sections {
      display: flex;
      flex-wrap: wrap;
   } 

   .inside-section-3 {
      gap: 1rem;
      padding: 1rem 1rem 3rem 1rem;
   }

   .popular-section {
      order: 0;

      width: 100%;
      border-radius: 0;

      padding: 0.25rem;

      padding-bottom: 1rem ;
   }

   .title-section-3 {
      font-size: 17px;
   }

   .pop-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      gap: 2rem;
   } 

   .pop-card {
      gap: 1rem;

      height: 10rem;
   }

   .pop-card-image {
      width: 10rem;
      height: 10rem;
   }

   .pop-card figcaption {
      overflow: scroll;
   }

   .figcaption-pop-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 0.5rem 0rem 0rem 1rem;
   }

   .pop-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.25rem;
      font-size: 14px;
   }
   
   .accomodation-section {
      order: 1;

      width: 100%;

      display: flex;
      justify-content: center;
   }

   .inside-section-2 {
      background-color: white;
      padding: 1rem;
   }

   .title-section-2 {
     padding-left: 0.5rem;
   }

   .accomodation-cards {
      display: flex;
      justify-content: center;

      gap: 2rem;
   }

   .accomodation-card {
      width: 100%; 
   }

   .accomodation-card-image {
      width: 100%;
      height: 12rem;
   }

   .figcaption-accomodation-card {
      gap: 3px;

      padding: 0rem 0rem 0.5rem 0.5rem;
   }

   .show-more {
      display: none;
   }

   .activity-section {
       padding: 1rem 1rem 2rem 1rem;
   }

   .activity-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 2rem;
   }

   .activity-card {
      width: 100%;
   }

   .activity-card-image {
      width: 100%;
      height: 15rem;
   }

   footer {
      display: flex;
      flex-direction: column;

      font-weight: 500;
      gap: 3rem;

      margin: 0rem
   }

   footer .about, footer .offer, footer .help {
      gap: 1rem;
      font-weight: 400;
   }
}




   
