* {
   font-family: 'Raleway', sans-serif;
}
.header_section {
   display: flex;
   justify-content: space-between; 
}
   
.menu {
   display: flex;
   justify-content: end;
   align-content: space-around;
}

.menu a {
   display: block;
   margin: 3rem;
}

.menu a:hover {
  border-top: 1rem;
  border-color: rgba(0,101,252,1);
}

main {
   margin-top: 0.2em;
   margin-left: 0.2rem;
   margin-right :0.2rem;
}

.wholebody {
   display: grid;
   grid-template-columns: 68% 32%;
   grid-template-rows: 15% 55% 30% ;
   grid-gap: 2rem;
}

.search_section {
   grid-column: 1/3;
   grid-row: 1/2;
}

.accomodation_section {
   grid-column: 1/2;
   grid-row: 2/3;
   background-color: rgba(242,242,242,1);

   display: grid;
   grid-template-columns: 33% 34% 33%;
   grid-template-rows: 50% 50%;
   grid-gap: 2rem;
}

.cartehebergement_1 {
   grid-column : 1/2 ;
   grid-row : 1/2;
}

.cartehebergement_2 {
   grid-column: 1/2;
   grid-row: 2/3;
}

.popular_section {
   grid-column: 2/3;
   grid-row: 2/3;  
   background-color: rgba(242,242,242,1);
}

.activity_section {
   grid-column: 1/3 ;
   grid-row: 3/4 ; 
}

.all_activity_cards {
   display: flex;
}

.search_part {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.topnav {
   display: flex;
}

.location_icon {
   background-color: rgba(242,242,242,1);
}

.topnav button {
   background-color: rgba(0,101,252,1);
   border: none;
}

.filters {
   display: flex;
   flex-direction: row;
}

.bluestar {
   color: rgba(0, 101, 252);
}

.greystar
{
   color: grey;
}

.stars 
{
   display: flex;
}

.accomodation_cards {
   background-color: rgba(242,242,242,1) ;
   text-align: left ;
   border-radius: 20px ;
   display: flex ;
   flex-wrap: wrap;
   justify-content: space-around ;

}

.carteshebergement
{
   background-color: rgba(255,255,255,1);
   border-radius:20px; 
}

.card_image {
   width: 15rem;
   height: 10rem;
}

.title_pop {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}

.popular_section
{
   background-color: rgba(242,242,242,1);
   border-radius: 20px;
   display: flex;
   justify-content: space-around;
   align-content: center;
   flex-direction: column;   
}

.fa-chart-line
{
   color: rgba(0,101,252);
   text-align: right;
}

.cartespop {
   background-color: rgba(255,255,255,1);
   padding: 0.2rem;
   margin: 1rem;
   border-radius:20px;
   width: 30rem;
}

.menufooter {
   list-style-type: none;
   display: flex;
   justify-content: space-between;   
   background-color: rgba(242,242,242,1);
   padding: 2rem;
}


