* {
   font-family: 'Raleway', sans-serif;
}

figure { /* change this parameters to align cards! */
   margin: 0;
   padding: 0;
} 

/* defines all necessary icons */

.location-icon {
   background-color: rgba(242,242,242,1);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   width: 20px;
}

.fa-solid {
   font-size: 22px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog {
   color: rgba(0, 101, 252, 1);
   font-size: 15px;
}

.fa-info {
   font-size: 12px;
}

.stars {
   display: flex;
}

.bluestar {
   color: rgba(0, 101, 252);
}

.greystar {
   color: grey;
}

.fa-chart-line {
   color: rgba(0,101,252);
   text-align: right;
}

/* defines the header */

.header-section {
   display: flex;
   justify-content: space-between;
}

.logo {
   padding-top: 1.5rem;
}

.logo-img {
   width: 6rem;
   height: 2rem;
}
   
.nav {
   display: flex;
   display: space-around; /* not working, find out later why */ 
   gap: 3rem;
   padding-right: 3px;
}

.accomodations:hover, .activities:hover { /* managed to create a hover for the nav section of the header but still have to work ot the box's top border's height*/ 
   color: rgba(0,101,252,1);

   border: 3px; 
   border-top-style: solid;
}

.accomodations, .activities {
   padding-top: 1.5rem;
}

/* defines section 1 (find accomodation) */

.inside-section-1 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   
   gap: 1rem;
}

.inside-section-1 p {
   font-weight: 300;
   margin-top: 0px;
}

.accomodation-search {
   display: flex;

   width: 10rem;
}

.location-icon {
   align-items: center;
   width: 2.5rem;
   background-color: rgba(242,242,242,1);
   border: none;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   
   padding: 10px;
 
}

input {
   height: 2.5rem;
   width: 12rem;
   border-color: rgba(242,242,242,1);
   border-width: 1px;
   border-style: solid;

}

input::placeholder {
   font-weight: 600;
   opacity: 1;
}

.accomodation-search button {
   background-color: rgba(0,101,252,1);
   border: rgba(0,101,252,1);
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;

   width: 7rem;
   height: 100%;
}

.search-button-text {
   color: white;
   text-decoration: solid;
}

.filters {
   display: flex;
   flex-direction: row;
   flex-direction: left;
   justify-content: space-between;

   gap: 1rem;
   margin-top: 1rem;
}

.filter-buttons {
   display: flex;
   flex-wrap: wrap;
   
   gap: 1rem; 
}

.filters a {
   font-weight: 600;
}

.filters button {
   background-color: white;

   border-radius: 25px;
   border-width: 2px;
   border-color: rgba(217,217,217,1);
   border-style: solid;

   padding: 0.5rem;
   width: 10rem;
   height: 100%;
}

.filters button:hover {
   background-color: rgba(0,101,252,0.2);
   
}

.availability-estimation p {
   font-size: small;
   margin: 1rem 0 1rem 0;
}

.info-font {
   color: rgba(0, 101, 252, 1);
   border: 1px rgba(217, 217, 217, 1) solid;
   border-radius: 15px;
   padding: 4px 10px 4px 10px;

}

.info-text {
   font-weight: 400;

}

/* defines the layout of the main sections */

main {
   display: flex;
   flex-direction: column;

   gap: 2rem;
   margin: 3rem 0 3rem 0;
}

body {
   margin: 0 1rem 0 1rem;
}

.accomodation-and-pop-sections {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1rem;
}

/* defines the layout of section 2*/


.accomodation-section {
   display: flex; 
   flex-direction: column;
   justify-content: space-between;

   border-radius: 20px;

   background-color: rgba(242,242,242,1);

   width: 65%;
}

.inside-section-2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title-section-2 {
   padding: 2rem 0 1rem 1rem;
}

.accomodation-cards {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   

   gap: 1rem;
   margin: 1rem;
}

.accomodation-card-image {
   width: 13rem;
   height: 8rem; /* must be redefined by sections because 
                     the pictures have different size depending on the section */
   border-top-left-radius: 20px; /* same, will need to change the corner 
                                    for other sections that accomodation*/
   border-top-right-radius: 20px;
}                

.accomodation-figure {
   background-color: white;
   border-style: solid;
   border-width: 5px;
   border-color: white;
   border-radius: 20px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.figcaption-accomodation-card {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.show-more {
   padding: 2rem 0 2rem 1rem;
   font-weight: 600;
   font-size: larger;
}

/* defines the layout of section 3*/

.popular-section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   border-radius: 20px;

   background-color: rgba(242,242,242,1);

   width: 33%;
}

.inside-section-3 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   padding: 1rem;
   gap: 3rem;
}

.header-section-3 {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 2rem,
}

.pop-cards {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   gap: 4.5rem;
}

.pop-card {
   display: flex;
  
   gap: 7px;
}

.pop-figure {
   display: flex;

   background-color: white;
   border-style: solid;
   
   border-color: white;
   border-width: 5px;
   border-radius: 20px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.pop-card-image {
   width: 135px;
   height: 135px; /* must be redefined by sections because 
                     the pictures have different size depending on the section */
   border-top-left-radius: 20px; /* same, will need to change the corner 
                                    for other sections that accomodation*/
   border-bottom-left-radius: 20px;
}

.figcaption-pop-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   height: 100%;
   width: 100%;
}

.pop-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.name {
   font-weight: 700;
}

.price {
   font-weight: 300;
   font-size: 14px;
}

/* defines the layout of section 4 */

.inside-section-4 {
   display: flex;
   flex-direction: column;  
}

.all-activity-cards {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   gap:1rem
}

.activity-card {
   width: 22%;
}

.activity-card-image {
   width: 100%;
   height: 27rem; 

   border-radius: 20px 20px 0 0;
}

.activity-figure {
   background-color: white;
   border-radius: 20px;  
   box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.activity-figure figcaption {
   display: flex;
   flex-wrap: wrap;
   
   padding: 1rem 0 0 1rem;
   height: 3rem;

   font-weight: 600;
}

/* defines footer */

footer {

}

.footer-nav {
   list-style-type: none;

   display: flex; 
   justify-content: space-between; /* still have to find a way to wrap footer menu when 
                                    window is too small */

   background-color: rgba(242,242,242,1);

   gap: 2rem;
   padding: 2rem 2rem 2rem 2rem;
}

.about, .offer, .help {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   width: 100%;  
}

/* following sections are for screen size adapation*/

/* media queries for tablets */

@media screen and (min-width: 501px) and (max-width: 991px) {
   .accomodation-section {
      width: 100%;
   }
   
   .accomodation-card-image {
      height: 8rem;
      width: 15rem;

   }
   
   .popular-section {
      width: 100%;

      padding: 0.5rem;
   }

   .pop-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      gap: 1rem;
   }

   .pop-card {
      width: 16rem;
   }

   .pop-card-image {
      width: 7rem;
   }

   .activity-cards {
      width: 100%;
   } 

   .activity-card {
      width: 14rem;
   }

   .activity-card-image {
      width: 14rem;
      height: 15rem;
   }
}

/* media queries for phones */

@media screen and (max-width: 500px) {
   .header-section {
      display: flex;
      flex-direction: column;
   }

   .logo {
      display: flex;
      justify-content: center;
   }

   .nav {
      gap: 0rem;
   }

   .accomodations, .activities {
      display: flex;
      justify-content: center;
      
      width: 100%;
      padding: 2rem 0 1rem 0;

      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-color: rgba(242,242,242,1);
   }

   .accomodations:hover, .activities:hover {
      border-top: none;

      border-bottom: 3px solid rgba(0,101,252,1);    
   }
 
   .filters { 
      display: flex;
      flex-direction: column;
   }

   .filter-buttons {
      display: flex;
      justify-content: center;
   }

   .popular-section {
      order: 0;

      width: 100%;
   }

   .pop-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
   } 

   .accomodation-section {
      order: 1;

      background-color: white;

      width: 100%;
   }

   .accomodation-cards {
      display: flex;
      justify-content: center;

      gap: 1rem;

   }

   .accomodation-card {
     width: 100%;
   }

   .accomodation-card-image {
      width: 100%;
      height: 10rem;

   }

   .show-more {
      display: none;
   }

   .activity-section {
      display: flex;
      justify-content: center;

   }

   .all-activity-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .activity-card {
      width: 90%;
   }

   .activity-card-image {
      width: 100%;
   }

   .footer-nav {
      display: flex;
      flex-direction: column;
   }
}

/* media queries very big screens */

@media screen and (min-width: 2000px) {
   body {
      margin: 0 20% 0 20%;
   }
}
